{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Django | {% block title %}{{title}}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}" defer></script>
</head>
    <body>
        <header><h1>Assignment</h1></header>
    <main>
        <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'arnwin' %}">Student</a>
        <a href="{% url 'announcements:list' %}">All Announcements</a>
        </nav>
        {% block content %}
        <p>This is my Base page</p>
        {% endblock %}
    </main>
    </body>
</html>

